{% extends 'blog/base.html' %}

{% block content %}
<div class="span9">
<div class="row-fluid">
    <div class="span12 box">
        <div class="box-header"><h3><i class="icon-play"></i> Lista de Ranking</h3></div>
        <div class="box-content">
            <div class="content-inner">
                <div class="marg20-btm">
                    Total de Jogadores <span class="badge badge-inverse">{{jogadores|length}}</span>
                    <form class="form-inline pull-right">
                        <input type="text" placeholder="Pesquisar jogador">
                        <input class="btn" type="submit" value="Search">
                    </form>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Crédito</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% comment %} Mostrando a jogadores cadastrados {% endcomment %}
                {% if jogadores %}
                    {% for jogador in jogadores %}   
                        <tr>
                            <td><p>{{ jogador.pk }}</p></td>
                            <td><p>{{ jogador.username }}</p></td>
                            <td><p>R$ {{ jogador.credito.valor }}</p></td>
                        </tr>
                {% endfor %}
                {% endif %}
                    </tbody>
                </table>
                
                {% comment %} Paginacao {% endcomment %}
    <!-- Paginação -->
    <div class="col-md-10 mb-4">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info" href="?page=1">Primeiro</a>
            <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">←</a>
        {% endif %}        
 
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num <  page_obj.number|add:'3' %}
                <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">→</a>
            <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
        {% endif %}        
        
    {% endif %}
    </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}